@charset "utf-8";
@import "~bulma/bulma";
@import "~font-awesome/css/font-awesome.min.css";
@import "~react-responsive-carousel/lib/styles/carousel.min.css";

$nav-height: 3.25rem;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $light;
}

html {
  &.dark {
    * {
      color: whitesmoke !important;
    }

    .card-image {
      background-color: darkgrey;
    }

    body {
      background-color: #232323;
      background-color: #424242;
    }

    .navbar-item:hover {
      background-color: #5a5a5a;
    }

    nav, footer, .navbar-menu {
      background-color: #232323;
    }

    .carousel {
      .thumb {
        border-color: transparent;

        &.selected {
          border-color: whitesmoke;
        }
      }
    }

    .box {
      background-color: lightgray;

      * {
        color: black !important;
      }
    }
  }
}

a.icon {
  color: #4a4a4a;
}

.carousel {
  .thumbs {
    text-align: center;
  }

  .control-arrow {
    padding: 1rem !important;
  }
}

.main-container {
  min-height: calc(100vh - #{$nav-height});

  main {
    width: 100%;
  }
}

.navbar {
  box-shadow: 0 0 8px -6px;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.project-container {
  .card {
    overflow: hidden;

    &-image {
    }

    img {
      transition: all 1s;
    }

    &-title {
      position: absolute;
      bottom: 0px;
      width: 100%;
      backdrop-filter: brightness(50%);
    }
  }

  .card:hover {
    .card-image {
      background-color: lightgray;

      img {
        transform: scale(1.2);
      }
    }
  }
}

.experience-block {
  .box {
    position: relative;

    &:after {
      $line-height: 3rem;

      content: "";
      position: absolute;
      left: calc(50% - 1px);
      bottom: -$line-height;
      height: $line-height;
      border-left: 2px solid $grey-light;
    }
  }

  &:last-child {
    .box:after {
      content: none;
    }
  }
}

.navbar {
  .navbar-burger {
    //height: $nav-height;
  }
}

* {
  box-sizing: border-box;
}

.theme-toggle {
  margin-left: 0.75rem;

  @include until($tablet) {
    margin-left: auto;
  }
}
